body {
  background-color: rgb(218, 233, 252);
  font-family: "Jost", sans-serif;
  font-size: 23px;
}
.container_main {
  margin: 0 auto;
  margin-top: 3.5%;
  width: 1010px;
  height: 700px;
}
.container {
  margin: 0 auto;
  background-color: white;
  width: 1000px;
  height: 500px;
  border-radius: 15px 15px 15px 15px;
  margin-top: 20px;
  box-shadow: 0 0 1px 0 rgba(52, 46, 173, 0.25),
    0 15px 30px 15px rgba(52, 46, 173, 0.1);
}

.body {
  width: 1000px;
  height: 500px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.body_upper {
  width: 1000px;
  height: 30px;
}
.left {
  width: 700px;
  height: 400px;
  background-color: white;
  border-radius: 15px 0px 0px 15px;
}
.left_table {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 30px; */
}
.month {
  display: flex;
  align-items: center;
  padding: 20px 0px 10px 100px;
  border-radius: 15px 0px 0px 0px;
  width: 700px;
  height: 100px;
  font-size: 40px;
  font-weight: 500;
}
.right {
  padding-top: 40px;
  padding-left: 20px;
  width: 300px;
  height: 500px;
  background-color: rgb(247, 244, 244);
  border-radius: 0px 15px 15px 0px;
}

input {
  border: none;
}
input:focus {
  outline: none;
}
.bottom {
  border-top: 1px solid black;
  width: 800px;
  height: 200px;
  background-color: white;
  text-align: center;
}
.bottom_span {
  /* display: inline-block; */
  margin-top: 15px;
  margin-bottom: 20px;
}
/* table {
  margin-top: 10px;
} */

*,
*:after,
*:before {
  box-sizing: border-box;
}

.container2 {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  flex-grow: 1;
  height: 100px;
  max-width: 700px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(52, 46, 173, 0.25),
    0 15px 30px 0 rgba(52, 46, 173, 0.1);
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
}

.menu-item:focus,
.menu-item:hover {
  outline: none;
}

.menu-item:focus .menu-item-label,
.menu-item:hover .menu-item-label {
  color: #342ead;
}

/* .menu-item:focus,
.menu-item:hover {
  color: #342ead;
  transition: 0.25s ease;
} */

.menu-item-label {
  display: block;
  font-size: 23px;
  color: #c2c0e6;
  transition: 0.5s ease;
}

.btn_submit {
  margin-top: 20px;
  border: none;
  /* background-color: pink; */
  width: 250px;
  height: 30px;
  font-size: 20px;
}
.btn_submit:focus {
  outline: none;
}

/* 버튼 백그라운 칼라 안먹혀 */
.body_board {
  padding: 30px 40px 30px 40px;
}
.board_header {
  /* margin-top: 50px;
  margin-left: 50px; */
  font-size: 40px;
  margin-bottom: 10px;
}

.board_main_list {
  font-size: 20px;
  display: flex;
  border: 1px solid black;
}

.board_content {
  padding-left: 8px;
  background-color: white;
  width: 700px;
}
.board_name {
  border-left: 1px solid black;
  text-align: center;
  background-color: white;
  width: 150px;
}
.board_date {
  border-left: 1px solid black;
  text-align: center;
  background-color: white;
  width: 150px;
}
